---
key: 1
title: Acerca de mi
permalink: /about/
excerpt: Información básica de mi
image: escalada.jpg
background-image: wake2.jpg
---


<hr />

<h2>¡Hola!</h2>

{% include post_picwrap.html pos="left" src="/images/yo.jpg" %}

Mi nombre es José Patricio Güereque de la Garza. Tengo 18 años y soy estudiante
del Tecnológico de Monterrey. Actualmente estoy en primer semestre de la carrera
ITC (Ingeniería en Tecnologías Computacionales).

<p class="hws">&nbsp;</p>

Nací en Monterrey, Nuevo León, México. Estudié primaria y secundaria en el
Euroamericano de Monterrey. Me gradué de secundaria en junio del 2015 y empecé
a estudiar la preparatoria (bachillerato bicultural) en la Prepa UDEM. Me gradué
de la UDEM en junio del 2018 e ingresé a primer semestre del TEC en agosto 2018.

<p class="hws">&nbsp;</p>

<hr />

<h2>Pasatiempos</h2>

{% include post_picwrap.html pos="right" src="/images/angkor-wat.jpg" %}
Me gusta tomar fotografías de muchas cosas. Paisajes es de mis cosas favoritas
para tomar fotos. Me gusta hacer Wakeboard, un deporte en el agua que vas arriba
de una tabla con los pies amarrados sobre ella en donde te va jalando una cuerda.
Llevo practicándolo varios años. Me gusta subir la montaña, correr y cocinar.
También me gusta mucho la programación y todo lo relacionado a la tecnología.

<p class="hws">&nbsp;</p>

La gastronomía en general me encanta, probar cosas nuevas y hasta intentar
cocinarlas. Me encantaría meterme a cursos de cocina para aprender más técnicas,
aprender nuevas recetas y mejorar en general. Siempre hay lugar de mejora en lo
que sea.

<p class="hws">&nbsp;</p>
<hr />

<h2>Programación y Tecnología</h2>

Desde pequeño siempre me apasionó la tecnología. Un juego que me enganchó fue
Minecraft. Este juego tiene una comunidad de servidores bastante grande. Aunque
esta decreciendo, sigue teniendo muchos jugadores. Empecé a jugarlo en el 2012
y ahí fue cuando me decidí meterme a programar "plugins" para servidores, los
cuales eran adiciones a existentes servidores. El lenguaje que use fue Java
y desarrollé cosas muy básicas, las cuales con el paso del tiempo se volvieron
más completas y avanzadas.

<p class="hws">&nbsp;</p>

<hr />

<h3>Experiencias</h3>
<div class="table-wrapper">
  <table class="alt">
    <thead>
      <tr>
        <th>Tecnología</th>
        <th>Experiencia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Java</td>
        <td>5 años trabajado con diversors frameworks y apis como Bukkit, Netty,
        BungeeCord, Spring, Guice, Hibernate, JOOQ, Jedis, ASM.</td>
      </tr>
      <tr>
        <td>SQL</td>
        <td>MariaDB y MySQL con grandes bases de datos conteniendo millones de
        registros.</td>
      </tr>
      <tr>
        <td>Docker</td>
        <td>Crear contenedores, imagenes, subirlas a un repositorio privado y
        usar contenedores para facilitar el desarrollo de aplicaciones que
        requieren muchas dependencias.</td>
      </tr>
      <tr>
        <td>Git</td>
        <td>Empecé usando BitBucket y luego me moví a GitHub.</td>
      </tr>
      <tr>
        <td>Maven</td>
        <td>Para manejar dependencias en Java, he tenido un repositorio privado
        local para mis proyectos.</td>
      </tr>
      <tr>
        <td>Linux</td>
        <td>Conozco muchos de los comandos de Linux, lo uso bastante y he
        instalado y configurado muchas variantes de Linux, pero mis preferidas
        son Debian y Ubuntu por el manejador de paquetes integrado que tienen.</td>
      </tr>
      <tr>
        <td>Redis</td>
        <td>Lo he usado para cache de información para desplegar información de
        una maquina en una página web.</td>
      </tr>
      <tr>
        <td>C++</td>
        <td>Lo básico de C++ para solución de problemas.</td>
      </tr>
      <tr>
        <td>Visual Basic</td>
        <td>Creando macros complejas en excel.</td>
      </tr>
      <tr>
        <td>HTML, JavaScript, CSS</td>
        <td>Cosas básicas, editar este template y otras aplicaciones pequeñas
        con Angular y JQuery.</td>
      </tr>
      <tr>
        <td>PHP</td>
        <td>También lo básico, una simple página de login que usa sesiones y una
        base de datos MySQL.</td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
<h2>Herramientas</h2>

Estas son las herramientas que más utilizo para desarrollar.
<ul>
  <li><a href="https://www.docker.com/">Docker</a></li>
  <li><a href="https://www.jetbrains.com/idea/">IntelliJ</a></li>
  <li><a href="https://atom.io/">Atom</a></li>
  <li><a href="https://github.com/PatoGuereque/">GitHub</a></li>
  <li><a href="https://gitforwindows.org/">Git for Windows</a></li>
</ul>

<hr />
